@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
		font-family: "Lucida Grande", sans-serif;
		background-color: #ebebeb;
		overflow-x: hidden;
		text-align: center;
}

#logo h1 {
	line-height: 0;
	text-indent: -9999px;
	margin: 0;
}

#nav_menu {
	border-bottom: 1px solid #ddd;
	font-size: .813rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

#nav_menu a {
	border-bottom: 1px solid transparent;
	padding: 1rem 0;
	color: #83000c;
}

#container {
	background-color: rgba(255,255,255,.75);
	font-size: 0.8rem;
	margin: 3rem auto 0 auto;
	max-width: 60rem;
}

#header,
#footer,
#main,
#sidebar {
	padding: 1rem;
}

#footer {
	border-top: 1px solid #ddd;
	color: #aaa;
	font-size: 0.75rem;
	text-align: center;
}

#blankspace {
    margin-bottom: 50px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
} 

table {
    border-collapse: collapse;
    background:#fff;
    @include border-radius(5px);
    margin:25px auto;
    @include box-shadow(0px 0px 5px rgba(0,0,0,0.3));
    border:3;
    border: 1px solid #ccc;
}

thead {
    @include border-radius(5px);
}

thead th {
    font-weight:400;
    color:#fff;
    @include text-shadow(1px 1px 0px rgba(0,0,0,0.5));
    padding:10px;
    background: #696969;
    @include background-image(linear-gradient(#696969, #696969));
    border: 1px solid #ccc;
  
  &:first-child {
    @include border-top-left-radius(5px); 
  }

  &:last-child {
    @include border-top-right-radius(5px); 
  }
}

tbody tr td {
    color:#696969;

    padding:10px 10px 10px 10px;
    border-bottom:1px solid #e0e0e0;
    border: 1px solid #ccc;
  
}

tbody tr:nth-child(2n) {
    background:#f0f3f5;
}

tbody tr:last-child td {
    border-bottom:none;
  &:first-child {
        @include border-bottom-left-radius(5px);
  }
  &:last-child {
        @include border-bottom-right-radius(5px);
  }
}

tbody:hover > tr td {
    @include opacity(0.5);
}

tbody:hover > tr:hover td {
    @include text-shadow(none);
    color:#2d2d2d;
    @include opacity(1.0);
}

* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
}

header {
		width: 100%;
		height: 50px;
		background-color: #696969;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header > nav > div {
		float: left;
		width: 16.6666%;
		height: 100%;
		position: relative;
}

header > nav > div > a {
		text-align: center;
		width: 100%;
		height: 100%;
		display: block;
		line-height: 50px;
		color: #fbfbfb;
		transition: background-color 0.2s ease;
		text-transform: uppercase;
}

header > nav > div:hover > a {
		background-color: rgba(0, 0, 0, 0.1);
		cursor: pointer;
}

header > nav > div > div {
		display: none;
		overflow: hidden;
		background-color: white;
		min-width: 200%;
		position: absolute;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		padding: 10px;
}

header > nav > div:not(:first-of-type):not(:last-of-type) > div {
		left: -50%;
		border-radius: 0 0 3px 3px;
}

header > nav > div:first-of-type > div {
		left: 0;
		border-radius: 0 0 3px 0;
}

header > nav > div:last-of-type > div {
		right: 0;
		border-radius: 0 0 0 3px;
}

header > nav > div:hover > div {
		display: block;
}

header > nav > div > div > a {
		display: block;
		float: left;
		padding: 8px 10px;
		width: 46%;
		margin: 2%;
		text-align: center;
		background-color: #696969;
		color: #fbfbfb;
		border-radius: 2px;
		transition: background-color 0.2s ease;
}

header > nav > div > div > a:hover {
		background-color: #212121;
		cursor: pointer;
}

h1 {
		color: #696969;
		margin-top: 50px;
        font-size: 50px;
		font-weight: 100;
}

h2 {
		color: #696969;
		margin-top: 12.5px;
		font-weight: 100;
}

p {
		color: #696969;
		font-weight: 300;
}

@media (max-width:600px) {
		header > nav > div > div > a {
				margin: 5px 0;
				width: 100%;
		}
		header > nav > div > a > span {
				display: none;
		}
}